@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Scheherazade&display=swap");

html {
  scroll-behavior: smooth;
}

.main {
  font-family: "Spectral", "Libre Baskerville", "serif";
  font-size: calc(26px + 1vw);
  background-color: #fffbf0;
  color: black;
}

.landing_wrapper {
  height: 100vh;
}

.landing_col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing_col p {
  font-size: calc(14px + 1vw);
  padding-bottom: 5px;
}

.post_wrapper {
  height: 80vh;
  display: flex;
  align-items: center;
}

.post_inner_wrapper {
  height: fit-content;
}

.post_id {
  justify-content: flex-end;
  padding-bottom: 4px;
}

.post_text {
  justify-content: flex-end;
  line-height: 1.3;
  font-family: "Scheherazade", serif;
  font-size: calc(32px + 1vw);
}

.post_id,
.post_footer,
footer {
  color: #667543;
}

.post_footer,
footer {
  display: flex;
  justify-content: space-between;
  font-size: calc(14px + 1vw);
}

.bold {
  font-weight: bold;
}

.img {
  height: auto;
  width: 100%;
  max-width: 500px;
}

.button {
  text-decoration: underline;
}

.footer_email {
  font-size: 16px;
  padding-bottom: 15px;
  color: #667543;
}
