.App {
	text-align: center;
}

.header {
	background-color: #282c34;
	min-height: 100vh;
	text-align: center;
	padding-top: 200px;
	font-family: 'Traditional Arabic', 'Libre Baskerville', serif;
	/* display: flex;
	flex-direction: column; */
	/* align-items: center; */
	/* justify-content: center; */
	font-size: calc(24px + 2vmin);
	color: white;
}
