@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
  direction: rtl;
}

/* If in need of different SVG sizes at different viewpoints. Add below */
/* Checkbox in menu style */
.btn-check {
  @apply form-checkbox appearance-none border-black border-solid border-2 rounded-md text-green-500 checked:border-green-700 checked:border-transparent;
}

@layer base {
  body {
    @apply bg-gray-10;
  }

  @font-face {
    font-family: "Scheherazade";
    src: url("/fonts/Scheherazade/Scheherazade-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
}
