/* @import url("https://fonts.googleapis.com/css2?family=Scheherazade&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
  direction: rtl;
}

/* If in need of different SVG sizes at different viewpoints. Add below */
/* Checkbox in menu style */
.btn-check {
  @apply form-checkbox appearance-none border-black border-solid border-2 rounded-md text-green-500 checked:border-green-700 checked:border-transparent;
}

@layer base {
  body {
    @apply bg-gray-10;
  }

  @font-face {
    font-family: "Scheherazade";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/scheherazade/v19/YA9Ur0yF4ETZN60keViq1kQQtZmppPXZ9elt.woff2)
      format("woff2");
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41,
      U+FB50-FDFF, U+FE80-FEFC;
  }

  @font-face {
    font-family: "Scheherazade";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/scheherazade/v19/YA9Ur0yF4ETZN60keViq1kQQsJmppPXZ9Q.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
}
